.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-bottom: 150px;
}

.form > label {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(0.25turn, #3c5cdc, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.action {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.action > input {
    width: 300px;
    border: 0 solid;
    border-radius: 8px 0 0 8px;
    padding: 10px;
}

.action > input:focus {
    outline: none;
}

.submit {
    padding-left: 16px;
    padding-right: 16px;
    border: 0;
    border-radius: 0 8px 8px 0;
    background-color: #5e78e0;
    color: white;
    fill: red;
}

.submit:hover {
    cursor: pointer;
    background-color: #4d6adc;
}

.submit:active {
    background-color: #778ad5;
}
